.yoyo{
    background-color: rgb(172, 211, 246);
    font-weight: bold;
    border-color: black
}

.yoyomain{
    background-color: rgb(172, 211, 246);
    font-weight: bolder;
    border-color: black
}