.passenger{
    display:flex;
    justify-content: center;
    width: 100vw;
    height: 44.3vw;
    /* background-image: url(/src/wallpaperflare.com_wallpaper.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.pass{
    justify-content: center;
    background-color: rgba(255,255,255,0.33);
    backdrop-filter: blur(2px);
    height:45%;
    gap:5px;
    border-radius: 20px;
    padding:20px 50px 20px 50px;
    position: relative;
    top:25%;
}

.input{
    font-style: oblique;
    height:40px;
    gap:2px;
    width:165%;
    float: left;
    position: absolute;
    top:1px;
    left:0%;
    border-radius: 10px;
}
.inptu{
    font-style: oblique;
    height: 40px;
    width:165%;
    position: relative;
    top:-30px;
    left:30%;
    border-radius: 10px;
}

.butn{
    color:white;
    background-color: black;
    border-radius: 5px;
    position: relative;
    left:57%;
    top:-27%;
    padding:6px 8px 6px 6px;
}
.arrow{
    position: relative;
    left:10%;
    top:12px;
}
.arrw{
    position: relative;
    left: 10%;
    top:40px;
}

.exchnge{
    position:relative;
    left:90%;
    top:-5%;
    font-size: xx-large;
    border-color: rgba(255,255,255,0.33);
    background-color: rgba(255,255,255,0.33);
    height:0px;
}
.okati{
    margin-top: 5%;
    margin-left: 35%;
}
.logbuttu{
    background-color: #4FC3F7;
 /* display: block; */
 
 float: right;
 position: absolute;
 justify-content: flex-end;
 margin: 2px auto;
    font-weight: bold;
}
.logbuttu:hover{
    background-color: #41a1ce;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.logbuttubro{
    background-color: #4FC3F7;
 /* display: block; */
 float: right;
 margin:50px 50px;
 margin-bottom: 15px;
    font-weight: bold;
}
.logbuttubro:hover{
    background-color: #41a1ce;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
/* .form-item {
    display: flex;
    flex-direction: column;
  } */
  
   .input-group {
    display: flex;
    justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  } 
  
  .input-group input[type="text"] {
    width: 51%;
    height: 42px;
    margin-top: 1px;
    position: absolute;
    margin-right: 10px;
  }
  
  .input-group button {
    margin-left: 10px;
    flex-shrink: 0;
  } 
     .input-group {
    display: flex;
    justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  } 
  
  .input-group input[type="text"] {
    width: 51%;
    height: 42px;
    margin-top: 1px;
    position: absolute;
    margin-right: 10px;
  }
  
  .input-group button {
    margin-left: 10px;
    flex-shrink: 0;
  } 